##########################################################
# Add file extensions you want to be ignored by git here #
##########################################################

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.TMP

# Debug files
*.log
*.tlog
*.idb
*.pdb
*.ilk

# Binary files
*.png
*.bmp
*.BAK
*.user

# Other Visual Studio files
*.cd
*.sbr
*.bsc
*.uml
*.modelproj
*.classdiagram
*.layout
*.psess
*.vsp
*.psd
/file_test
/file_test_loop
/file_test_max3
/file_test_max4
/file_test2
file_test_graphic
